.recordPage {
  width: 700px;
  height: 100vh;

  &__inner {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
  }

  &__title {
    font-weight: bold;
    font-size: 70px;
    height: 10%;
    padding: 15px 0;
    width: 100%;
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 15%;
    width: 100%;
  }
}

.btns {
  width: 100%;
  height: 12%;

  &__inner {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__divider {
    width: 1px;
    height: 35px;
    border-left: 1px solid rgba(149, 145, 145, 0.673);
    border-radius: 5px;
  }
}

@media screen and (max-width: 700px) {
  .recordPage {
    width: 500px;

    &__title {
      font-size: 60px;
      height: 7%;
      padding: 10px 0;
    }

    &__description {
      height: 12%;
      width: 70%;
    }
  }
}
